
:root {

    --dark-cyan:hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);

}



body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-top: 100px;
    background-color: var(--cream);
    font-family: 'Fraunces', serif;

    /* font-family: 'Montserrat', sans-serif; */
}

.container {

    width: 600px;
    height: 450px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border-radius: 10px;
}

.titulo {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserrat';
    color: var(--dark-grayish-blue);
    letter-spacing: 2px;
}


.imagen {

    grid-column: 1/2;
    grid-row: 1/2;
    
}

.imagen img {
    width: 300px;
    height: 450px;
    border-radius: 10px 0 0 10px;
}

.container-detalles {
    width: 300px;
    height: 450px;
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: var(--white);
    /* padding-left: 20px; */
    border-radius: 0 10px 10px 0;
}


.detalles {
   
    padding: 25px;


}


.descripcion {
    font-family: 'Montserrat', sans-serif;
    color: var(--dark-grayish-blue)
}

.precios {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: -35px;
    margin-bottom: -20px;
}

.precio {
    color: darkcyan;
    font-size: 2rem;
}

.precioAntiguo {
    color: var(--dark-cyan);
    font-family: 'Montserrat';
   text-decoration: line-through;
}

.boton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 236px;
    height: 47px;
    gap: 10px;
    color: var(--white);
    background-color: var(--dark-cyan);
    border: none;
    border-radius: 10px;
    font-family: 'Fraunces';
    /* margin-top: 5px; */
  
}


.boton:hover {
    background-color: rgb(4, 44, 44) ;
}
